table {
  width: 800px;
  /* height: 200px; */
  border-collapse: collapse;
}

.container {
  margin: 1rem;
  text-align: center;
  align-content: center;
  align-self: center;
  align-items: center;
  color: #ffc451;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.container-trans {
  margin: 1rem;
  text-align: center;
  align-content: center;
  align-self: center;
  align-items: center;
  color: "#ffc451";
  background-color: transparent;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.user-body {
  padding-top: 16px;
  padding-left: 5%;
  padding-right: 5%;
}

.addnew-btn {
  background-color: #ffc451;
  color: black;
}

thead {
  color: "#ffc451";
  text-align: "center";
  vertical-align: "middle";
  font-weight: "bold";
}

.thead-user {
  color: "#ffc451";
  text-align: "center";
  vertical-align: "middle";
  font-weight: "bold";
}

.thead-user th {
  border-bottom: 1px solid #ffc451;
  border: 2px solid #ffc451;
  color: #ffc451;
  vertical-align: "middle";
  text-align: "center";
}

.thead-user td {
  text-align: center;
  border: 2px solid white;
  color: white;
  vertical-align: "middle";
  text-align: "center";
}

.dropdown-menu.min-width-0 {
  min-width: 0;
  vertical-align: "middle";
  text-align: "center";
}

.side-by-side {
  display: flex;
}

.body {
  padding: 0;
  margin: 0;
}

.Parent {
  display: flex;
  flex-direction: row;
}

.child1 {
  width: 50%;
  height: 100vh;
  /* background-color: green;  */
  text-align: right;
  color: white;
  
}

.child2 {
  width: 50%;
  /* color: green;  */
  height: 100vh;
}

.article-container {
  display: flex;
  flex-wrap: wrap;
}

.article-container {
  display: flex;
  flex-wrap: wrap;
}

.article {
  flex: 0 0 60%;
  /* padding: 20px; */
}
.article1 {
  flex: 0 0 10%;
  /* padding: 20px; */
}

.article2 {
  flex: 0 0 20%;
  /* display: flex; */
  /* padding: 1px; */
}

* {
  margin: 0;
  box-sizing: border-box;
}

.label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 16px;
  box-sizing: border-box;
}

.input {
  height: 27px;
  width: 70%;
  padding: 8px;
  margin-bottom: 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.textarea {
  height: 100px;
  width: 80%;
  padding: 8px;
  margin-bottom: 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.custom-button {
  display: inline-block;
  padding: 10px 20px 40px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid #3498db;
  border-radius: 5px;
  color: #fff;
  background-color: #3498db;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.custom-button:hover {
  background-color: #2980b9;
  border-color: #2980b9;
  color: #fff;
}

.input-file {
  margin-bottom: 10px;
}

.image-preview-container {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.image-preview {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box img {
  object-fit: cover;
  box-sizing: border-box;
}

.wrapper {
  height: 200px;
  display: flex;
  gap: 20px;
}

.box {
  border: 2px solid #000;
}

.card {
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 10px;
  overflow: hidden; 
  /* Hide any content that overflows the container */
}

.table-container {
  margin-top: 20px;
  max-width: 100%;
  height: 300px; /* Set a fixed height for the container */
  overflow-y: auto; /* Add vertical scroll for the container */
}

.table {
  width: 100%;
  min-width: 800px;
  border-collapse: collapse;
  table-layout: fixed; /* Fix the table layout */
}
.tableColor {
  font: "#03C9D7";
}

.table th,
.table td {
  /* border: 1px solid #ddd; */
  padding: 3px;
  text-align: left;

  /* white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;  */
}

.table th {
  /* background-color: #4caf50; */
  color: white;
  position: sticky;
  top: 0;
  z-index: 1;
}

.table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

tfoot {
  display: flex;
  justify-content: space-between;
  text-align: left;
  font-weight: bold;
  align-items: center;
}

tfoot tbody {
  font-size: 13px;
}

tfoot tr {
  border-bottom: 1px solid white;
}

tfoot td {
  padding: 8px;
}

.keypad-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.keypad-button {
  /* color: #03C9D7; */
  font-weight: Bold;
  font-size: 18px;
  text-align: center;
  width: calc(33.33% - 10px);
  margin-bottom: 3px;
  justify-content: space-between;
}

